spring-demo-000-other/eg-001-springjunit/src/main/resources/CommonUser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://blog.bjlhx.top/other/CommonUser"
            targetNamespace="http://blog.bjlhx.top/other/CommonUser"
            elementFormDefault="qualified">

    <xsd:element name="commonuser">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="userName" type="xsd:string"/>
            <xsd:attribute name="email" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>